.header {
	background: linear-gradient(
		to top,
		rgb(0, 26, 255),
		rgba(42, 42, 185, 0.829),
		rgba(0, 0, 255, 0.918)
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 1%; */
	/* border-bottom: 2px solid rgba(0, 0, 0, 0.644); */
	/* box-shadow: 0px 0px 10px gray, 0 0 10px; */
	/* z-index: 1; */
}
.top {
	display: flex;
	align-items: center;
	width: 100%;
	/* background-color: white; */
	height: 15vh;
}
.logo {
	/* position: relative; */
	background-color: rgba(63, 63, 63, 0.952);
	border: 5px solid rgba(255, 255, 255, 0.719);
	display: flex;
	height: 5em;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 2vh;
	/* box-shadow: 0px 5px 5px gray, 0 0 5px; */
	/* border: 5px solid rgb(202, 201, 201); */
	margin: 0 auto;
	width: 10em;
	/* z-index: 1; */
}
#logo-1 {
	color: white;
	font-size: 2em;
	line-height: 1;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transform: scale(1.5, 1.5);
	text-shadow: 0px 2px 1px rgba(0, 43, 136, 0.932),
		-2px 2px 1px rgba(0, 48, 136, 0.932);
}
#logo-2 {
	text-shadow: 0px 2px 1px rgba(0, 43, 136, 0.932),
		-2px 2px 1px rgba(0, 48, 136, 0.932);
	color: white;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contect-icon-header {
	display: flex;
	align-items: center;
	padding: 0em 1em 0em 1em;
}
.contect-icon-header:hover {
	transform: scale(1.1, 1.1);
}
.top-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	background-color: rgba(56, 56, 56, 0.911);
}
.nav-header {
	width: 90%;
	display: flex;
	justify-content: center;
	/* margin: 0.5em 3em 0.5em 1em; */
}
#link-header {
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
}
#link-header:hover {
	/* transform: scale(1.1, 1.1); */
	background-color: rgba(95, 95, 95, 0.911);
}
.active {
	/* padding-bottom: 1em; */
	border-bottom: 2px solid white;
	background-color: rgba(95, 95, 95, 0.911);
}
@media only screen and (min-width: 1000px) {
	#link-header {
		padding: 0.5em 4em 0.5em 4em;
	}
}
