#back {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: none;
	border: none;
	font-size: 1.5em;
}
#back img {
	margin-left: 0.2em;
}
.product-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: rgb(73, 73, 73); */
}
.product-view-body {
	background-color: rgb(226, 223, 223);
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5em;
	background-color: rgb(137, 179, 168);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#product-view-name {
	margin-top: 0.7em;
	font-size: 2.5em;
	text-shadow: -5px 5px 5px gray, -5px 5px 5px gray;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#head-des {
	font-weight: bold;
	font-size: 1.3em;
}
.img-product-view {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 55%;
	height: 25em;
	margin: 10% 0% 10% 0%;
}
.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#descrip {
	width: 80%;
	font-weight: bold;
	/* margin-right: 3vh;/ */
}
.product-details {
	background-color: aliceblue;
	box-shadow: 2px 3px 5px gray, 0 0 5px;
	margin: 3vh;
	width: 80%;
	display: flex;
	flex-direction: column;
	text-align: right;
	padding: 1em;
}
li {
	font-size: 2vh;
}
.div-img-view {
	display: none;
	position: absolute;
	width: 100%;
	height: 72em;
	top: 0;
	opacity: 0.9;
	background-color: rgb(168, 175, 173);
	/* z-index: 2; */
}
.img-view {
	display: none;
	position: absolute;
	top: 22em;
	width: 25em;
	height: 25em;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
	.product-view-body {
		width: 100%;
	}
	.product-details {
		width: 90%;
	}
}
