.footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(
		to top,
		rgb(0, 26, 255),
		rgba(0, 0, 255, 0.829),
		rgba(0, 0, 255, 0.918)
	);
	border-top: 2px solid black;
}
.options-footer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2em 2em 2em 2em;
}
#link-footer {
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#link-footer:hover {
	font-weight: bold;
}
li {
	text-align: right;
	/* list-style-type: ; */
}
.icons-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 6em;
}
#react-whatsapp {
	background: none;
	border: none;
}
.whatsapp:hover {
	transform: scale(1.1, 1.1);
}
.facebook:hover {
	transform: scale(1.1, 1.1);
}
.design {
	background-color: rgba(0, 8, 124, 0.932);
	position: relative;
}
.footer-p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 2vh;
	color: white;
	font-size: 2.5vh;
}
.facebook,
.whatsapp {
	padding: 0.5em 0.7em 0.5em 0.7em;
	background-color: rgb(252, 252, 252);
	border-radius: 100%;
}
.phone {
	padding: 0.7em 0.7em 0.7em 0.7em;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
}
